################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Clicker/v16/.suo
/.vs/VSWorkspaceState.json
/__pycache__/GUI.cpython-39.pyc
/__pycache__/Save_Statistics.cpython-39.pyc
/__pycache__/Tray.cpython-39.pyc
/.vs/slnx.sqlite-journal
